#mainGrid{
    position: absolute;
    z-index: 1;
  }

  #mainText div {
    /*border: 1px solid rgb(12, 53, 71);*/
    width: 25px;
    height: 25px;
    display: inline-block;
    position: relative;
    top: 0.35em;
    margin: 0 0.42em;
  }


#mainText > ul li {
    display: inline-block;
    list-style: none;
    padding: 0 28px 0 0;
  }

  #algorithmDescriptor {
    text-align: center;
    color: #34495e;
    padding: 15px 25px 15px 25px;
  }



.node-weight {
  background-image: url('../PathFindingVisualizer/Node/images/weight-hanging-solid.svg');
  

}

.node-wall {
  background-image: url('../PathFindingVisualizer/Node/images/fire-solid.svg');
}

  .start{
    /*border: 1px solid rgb(175, 216, 248);*/
    /* background-image:url(triangletwo-right.svg); */
    background-image: url('../PathFindingVisualizer/Node/images/dog-solid.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation-name: specialNodes;
    animation-duration: 2.0s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }


  .target{
    /*border: 1px solid rgb(175, 216, 248);*/
    /* background-image: url(circle.svg); */
    background-image: url('../PathFindingVisualizer/Node/images/bone-solid.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation-name: specialNodes;
    animation-duration: 2.0s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  .unvisited{
    border: 1px solid rgb(175, 216, 248);
    background-color:white
  }

  
  
  @keyframes unvisitedWeightAnimation {
    0% {
      transform: scale(.3);
      /*background-color: rgb(12, 53, 71);*/
    }
  
    50% {
      transform: scale(1.2);
      /*background-color: rgb(12, 53, 71);*/
    }
  
    100% {
      transform: scale(1.0);
      /*background-color: rgb(12, 53, 71);*/
    }
  }
  
  
  @keyframes specialNodes {
    0% {
      transform: scale(.3);
      /*background-color: darkslategrey;*/
    }
  
    50% {
      transform: scale(1.2);
      /*background-color: darkslategrey;*/
    }
  
    100% {
      transform: scale(1.0);
      /*background-color: darkslategrey;*/
    }
  }

  .visited{
    border: 1px solid rgb(175, 216, 248);
    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  

  
  @keyframes visitedAnimation {
    0% {
      transform: scale(.3);
      background-color:rgba(0, 0, 66, 0.75);
      border-radius: 100%;
    }
  
    50% {
      background-color: rgba(11, 11, 199, 0.75);
    }
  
    75% {
      transform: scale(1.2);
      background-color: rgba(0, 104, 173, 0.75);
    }
  
    100% {
      transform: scale(1.0);
      background-color: rgba(11, 227, 235, 0.75);
    }
  }



.shortest-path{
    background-image: url('../PathFindingVisualizer/Node/images/paw-solid.svg');
    animation-name: triangletwo;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  
  
  @keyframes triangletwo {
    0% {
      transform: scale(.6);
      background-image: url('../PathFindingVisualizer/Node/images/paw-solid.svg');
    }
  
    50% {
      transform: scale(1.2);
      background-image: url('../PathFindingVisualizer/Node/images/paw-solid.svg');
    }
  
    100% {
      transform: scale(1.0);
      background-image: url('../PathFindingVisualizer/Node/images/paw-solid.svg');
    }
  }
  